.footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerWrapper{
  padding: 20px;
  width: 80%;
  border-top: 1px solid #d3d3d3;
}
.footerWrapper > h3{
  font-weight: 500;
  color: gray;
  font-size: 16px;
}