.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #d3d3d3 1px solid;
}
.navbarWrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.navbarLeft {
  flex: 0.7;
}
.navbarRight {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navbarRight > h3 {
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}
.navbarRight > h3:hover {
  color: #0D9488;
}
.navbarRight > a:hover {
  color: #0D9488;
}
a{
  text-decoration: none;
  color: #000000;
}
@media only screen and (max-width: 1122px) {
  .navbarWrapper {
    flex-direction: column;
    flex: 1;
    width: 100%;
  }
  .navbar{
    position: relative;
    flex-direction: column;
  }
  .navbarLeft{
    display: none;
  }
  .navbarRight {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .navbarRight > button {
    font-size: 12px;
    padding: 7px 10px;
  }
}
